@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
html {
  font: 5vmin/1.3 Serif;
}

body {
  display: block;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: transparent;
  background: #123;
  height: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
  }
}

p {
  color: rgba(255, 255, 255, 0.7);
}

head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.7007415261em 1.375247771em 7px hsla(203.11657917, 100%, 50%, 0.9), -0.2858155488em 0.7102123128em 7px hsla(99.6998635512, 100%, 50%, 0.9), 0.4351330154em 0.6087394986em 7px hsla(323.4759936124, 100%, 50%, 0.9), 0.5468503627em 0.2023698072em 7px hsla(195.8308230677, 100%, 50%, 0.9), 2.1361727645em 0.245255111em 7px hsla(138.2352907612, 100%, 50%, 0.9), 2.0604358422em 1.6235592547em 7px hsla(116.5763243126, 100%, 50%, 0.9), 2.0665018216em 1.9367193962em 7px hsla(254.0452176826, 100%, 50%, 0.9), 0.8298353099em -0.033402604em 7px hsla(2.9376553489, 100%, 50%, 0.9), 1.2465910997em 0.6741201698em 7px hsla(214.5225797488, 100%, 50%, 0.9), -0.4735280289em 0.1995046011em 7px hsla(93.3653132669, 100%, 50%, 0.9), 1.8117021573em 0.1578864143em 7px hsla(275.4497012963, 100%, 50%, 0.9), 0.9650116657em 0.3774013355em 7px hsla(160.4431460081, 100%, 50%, 0.9), 0.7947814484em 2.4767666642em 7px hsla(22.4519186478, 100%, 50%, 0.9), 2.4392497695em 1.9447166255em 7px hsla(341.1770230405, 100%, 50%, 0.9), -0.4799395301em 0.2420076604em 7px hsla(301.3628729802, 100%, 50%, 0.9), 0.7194489852em 0.4659707269em 7px hsla(335.9005807843, 100%, 50%, 0.9), 1.2961212927em 1.1302770328em 7px hsla(23.9340597064, 100%, 50%, 0.9), 1.5723655822em 0.7843960993em 7px hsla(126.0123904707, 100%, 50%, 0.9), 1.1306059647em 1.8981502477em 7px hsla(10.7974684533, 100%, 50%, 0.9), -0.250819611em 0.7229183242em 7px hsla(216.9267183946, 100%, 50%, 0.9), 0.3575321667em 0.8182183398em 7px hsla(277.6914160972, 100%, 50%, 0.9), 0.4767903924em 1.1104337414em 7px hsla(294.3409843607, 100%, 50%, 0.9), 0.3301183418em 1.6739587236em 7px hsla(309.1606439824, 100%, 50%, 0.9), 1.2916712687em 0.7373964191em 7px hsla(92.6490650568, 100%, 50%, 0.9), 1.3581602744em 1.0177204248em 7px hsla(196.6946837717, 100%, 50%, 0.9), 0.3336188684em 2.2203203955em 7px hsla(244.8636676771, 100%, 50%, 0.9), 0.3429907587em 1.8697588946em 7px hsla(102.9890915059, 100%, 50%, 0.9), 1.8379951481em -0.1456252702em 7px hsla(128.7254122632, 100%, 50%, 0.9), 0.6568368026em 1.8414944396em 7px hsla(75.8243564733, 100%, 50%, 0.9), -0.1735948632em 1.2655060486em 7px hsla(17.6629475114, 100%, 50%, 0.9), 1.428563444em 2.3952562945em 7px hsla(298.0703044644, 100%, 50%, 0.9), 0.5472697583em -0.4399311921em 7px hsla(14.0455627728, 100%, 50%, 0.9), -0.1070577465em 2.4623227707em 7px hsla(245.6856874342, 100%, 50%, 0.9), -0.2913533696em 1.544742012em 7px hsla(136.1475508366, 100%, 50%, 0.9), -0.4545133822em 0.5221977961em 7px hsla(198.7368328464, 100%, 50%, 0.9), 0.1519698842em 2.4986078512em 7px hsla(256.3071509828, 100%, 50%, 0.9), 2.2261398896em 0.3499545172em 7px hsla(285.8795536834, 100%, 50%, 0.9), 2.1468204438em 0.3561866483em 7px hsla(92.3321447774, 100%, 50%, 0.9), 1.7427972738em 0.3901513963em 7px hsla(147.4662899711, 100%, 50%, 0.9), -0.2613155067em 1.0338448263em 7px hsla(113.3073137641, 100%, 50%, 0.9), 0.3512528913em 2.0985951799em 7px hsla(28.5051658033, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 2.3946479067em 2.4401235385em 7px hsla(36.1327062331, 100%, 50%, 0.9), 1.7071902888em -0.2587983513em 7px hsla(291.9165403044, 100%, 50%, 0.9), 1.1271078538em 1.3528531277em 7px hsla(107.3515468304, 100%, 50%, 0.9), 1.4385799642em 1.5451404859em 7px hsla(69.2781212932, 100%, 50%, 0.9), 1.5666988259em 1.8164171679em 7px hsla(102.5765664317, 100%, 50%, 0.9), 1.2866437731em 2.2040622992em 7px hsla(155.1132229857, 100%, 50%, 0.9), 2.1216559437em 2.0704218447em 7px hsla(61.3486941401, 100%, 50%, 0.9), 1.4780945818em 0.5334189617em 7px hsla(68.4197509736, 100%, 50%, 0.9), 0.9309660456em -0.0270670463em 7px hsla(297.0574596039, 100%, 50%, 0.9), 0.0091754721em 0.9626091186em 7px hsla(48.9299923405, 100%, 50%, 0.9), 2.2571408897em 0.7768343615em 7px hsla(26.1539232454, 100%, 50%, 0.9), -0.0495446882em 0.0856885981em 7px hsla(282.7408734467, 100%, 50%, 0.9), -0.2177193599em 0.0610719905em 7px hsla(11.7496740272, 100%, 50%, 0.9), 1.0886350723em 2.1627678009em 7px hsla(163.6630753996, 100%, 50%, 0.9), 1.5177379485em 0.8448498247em 7px hsla(292.5187135939, 100%, 50%, 0.9), -0.4994969478em 1.6800935557em 7px hsla(233.4284931396, 100%, 50%, 0.9), 2.4558046662em 1.8759091769em 7px hsla(286.7149253304, 100%, 50%, 0.9), 1.6449388429em -0.1936372274em 7px hsla(38.8509055031, 100%, 50%, 0.9), 0.7172223567em 1.4074521792em 7px hsla(249.3267540456, 100%, 50%, 0.9), 1.6483681121em 0.5710351581em 7px hsla(279.829251788, 100%, 50%, 0.9), 1.7915890339em 2.2481956258em 7px hsla(141.5056358871, 100%, 50%, 0.9), 0.5846101605em 1.5807710425em 7px hsla(117.9250894048, 100%, 50%, 0.9), 0.4849385186em 0.5164310877em 7px hsla(326.4269792861, 100%, 50%, 0.9), 1.5958491735em 0.9204743409em 7px hsla(172.3901950801, 100%, 50%, 0.9), 2.1164708839em -0.2191774741em 7px hsla(87.5202639971, 100%, 50%, 0.9), 0.5495914598em 1.0106986878em 7px hsla(67.0513859001, 100%, 50%, 0.9), 2.2429293171em 1.1386985682em 7px hsla(78.5031224565, 100%, 50%, 0.9), 0.4363380501em 1.1726305353em 7px hsla(163.8236921695, 100%, 50%, 0.9), 1.7473157416em -0.2680748062em 7px hsla(302.1087661697, 100%, 50%, 0.9), 0.7760168304em 1.4281013441em 7px hsla(151.2226713255, 100%, 50%, 0.9), -0.4650501712em 1.232761018em 7px hsla(140.7651597109, 100%, 50%, 0.9), 2.4299299909em 0.9874164624em 7px hsla(232.9405458966, 100%, 50%, 0.9), 2.2693118627em 2.3781957874em 7px hsla(214.8294712888, 100%, 50%, 0.9), 2.3049295573em 1.6700014379em 7px hsla(242.297715173, 100%, 50%, 0.9), -0.2967593611em 0.1633204895em 7px hsla(264.72963456, 100%, 50%, 0.9), 0.4720739734em 1.6029049276em 7px hsla(248.0252117069, 100%, 50%, 0.9), 0.5638303821em 1.3572264158em 7px hsla(120.1504999437, 100%, 50%, 0.9), 0.4836234798em 2.1609640944em 7px hsla(319.0953821473, 100%, 50%, 0.9), 0.2505776611em 2.08044046em 7px hsla(176.5181013845, 100%, 50%, 0.9), -0.3220938389em 1.1467200492em 7px hsla(280.0766630573, 100%, 50%, 0.9), 2.4418274248em -0.1860255651em 7px hsla(94.5659195423, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.4774454966em 1.0817552242em 7px hsla(205.5403411225, 100%, 50%, 0.9), 1.6167749024em 1.1433546544em 7px hsla(165.3672538153, 100%, 50%, 0.9), 1.9859511296em 1.5293979821em 7px hsla(175.0491151415, 100%, 50%, 0.9), 1.1878394801em 0.2371821961em 7px hsla(303.7989863411, 100%, 50%, 0.9), 1.4582229582em 2.0975758918em 7px hsla(238.1805822878, 100%, 50%, 0.9), 0.1073569998em 0.190205682em 7px hsla(324.7796317532, 100%, 50%, 0.9), 1.5463600567em 1.0202023226em 7px hsla(322.562232548, 100%, 50%, 0.9), 0.8742523439em 2.0874806525em 7px hsla(6.9715838388, 100%, 50%, 0.9), 1.8888815919em 0.3433593039em 7px hsla(136.7503849711, 100%, 50%, 0.9), 2.0138835688em 1.6960708083em 7px hsla(262.4806240476, 100%, 50%, 0.9), 0.1725271539em 0.6323338347em 7px hsla(23.0440501616, 100%, 50%, 0.9), 0.5256163431em -0.2336626108em 7px hsla(179.3159828459, 100%, 50%, 0.9), 1.6866111136em 1.4947901133em 7px hsla(221.1809014739, 100%, 50%, 0.9), 1.148137951em -0.4071297338em 7px hsla(148.9345644346, 100%, 50%, 0.9), 1.7267501876em 0.0958766563em 7px hsla(326.2770106579, 100%, 50%, 0.9), 2.182913271em 2.1636252176em 7px hsla(12.0917440999, 100%, 50%, 0.9), 1.8966303421em 0.1556534598em 7px hsla(348.3490869959, 100%, 50%, 0.9), 1.2820247454em 0.1716116689em 7px hsla(160.3207751797, 100%, 50%, 0.9), 0.6534983494em 1.2863410227em 7px hsla(82.8463019463, 100%, 50%, 0.9), -0.456222905em 1.5961046976em 7px hsla(202.0756636065, 100%, 50%, 0.9), 1.8408696577em 2.3930756132em 7px hsla(276.344044856, 100%, 50%, 0.9), 2.4389313879em 1.6370033734em 7px hsla(152.1452863095, 100%, 50%, 0.9), 0.0044795071em 0.794666944em 7px hsla(274.6303306541, 100%, 50%, 0.9), 0.8568998114em 1.5162891548em 7px hsla(33.8537169717, 100%, 50%, 0.9), 0.0357525111em -0.2470948246em 7px hsla(325.8225577345, 100%, 50%, 0.9), 1.3970017411em -0.4353618866em 7px hsla(28.161464696, 100%, 50%, 0.9), -0.0327033237em 1.5041905475em 7px hsla(139.8685164007, 100%, 50%, 0.9), 1.7837593703em 0.7250953146em 7px hsla(151.7215671772, 100%, 50%, 0.9), 2.055007523em 0.2684371254em 7px hsla(315.5056922519, 100%, 50%, 0.9), 1.3175800669em -0.2147376345em 7px hsla(21.7390915394, 100%, 50%, 0.9), 2.4204127538em 1.5524386224em 7px hsla(345.9116495258, 100%, 50%, 0.9), 0.8767446945em 0.263278278em 7px hsla(309.4686373053, 100%, 50%, 0.9), 1.1252012583em -0.0411368214em 7px hsla(167.0619616969, 100%, 50%, 0.9), -0.222463152em -0.2323879715em 7px hsla(66.2340480355, 100%, 50%, 0.9), 1.6298218543em 1.1132453946em 7px hsla(314.8891020544, 100%, 50%, 0.9), 0.4853856596em 2.0921949169em 7px hsla(316.6957743582, 100%, 50%, 0.9), 1.749441212em -0.147027998em 7px hsla(339.0968505909, 100%, 50%, 0.9), 1.5392571407em 1.2100848464em 7px hsla(271.9835040439, 100%, 50%, 0.9), 1.7955737981em -0.0039225246em 7px hsla(78.0243817942, 100%, 50%, 0.9), 2.1438008501em 1.7978678014em 7px hsla(45.3475294113, 100%, 50%, 0.9), 1.7686524918em -0.3037038053em 7px hsla(162.3622927665, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 1.4703484028em 1.8346356941em 7px hsla(220.031087675, 100%, 50%, 0.9), 1.0143365336em 1.2613145863em 7px hsla(237.0904004452, 100%, 50%, 0.9), 1.0502341016em 0.8550228022em 7px hsla(5.6993273465, 100%, 50%, 0.9), -0.4723816654em 0.8238308895em 7px hsla(159.1540008703, 100%, 50%, 0.9), -0.4506133712em 0.9676114435em 7px hsla(60.3104922774, 100%, 50%, 0.9), 2.4736076589em 1.1669300851em 7px hsla(358.4037445533, 100%, 50%, 0.9), -0.3137225411em 0.8701954283em 7px hsla(356.9132935441, 100%, 50%, 0.9), 1.6801936149em -0.0562988341em 7px hsla(54.3043780999, 100%, 50%, 0.9), -0.0861798077em 2.2343017784em 7px hsla(134.680005386, 100%, 50%, 0.9), 1.2872732329em 1.2121460438em 7px hsla(235.8653358766, 100%, 50%, 0.9), 0.8198286067em 1.8621653745em 7px hsla(142.0813262104, 100%, 50%, 0.9), 0.3371821361em 0.5351579704em 7px hsla(210.447344158, 100%, 50%, 0.9), 1.6690868581em 1.5496856603em 7px hsla(147.7799532957, 100%, 50%, 0.9), -0.0206989286em 1.7659006724em 7px hsla(353.0991299452, 100%, 50%, 0.9), -0.2762025017em 1.3632978672em 7px hsla(206.3532022353, 100%, 50%, 0.9), 0.8015223928em 0.6412018344em 7px hsla(333.7253760576, 100%, 50%, 0.9), 2.3565613627em 1.4327306969em 7px hsla(60.5576055914, 100%, 50%, 0.9), 1.3143928347em 0.6689148505em 7px hsla(260.2146256609, 100%, 50%, 0.9), 2.1862688953em 0.0543466036em 7px hsla(3.6026051775, 100%, 50%, 0.9), 0.7273903864em 2.2501634964em 7px hsla(15.0919761876, 100%, 50%, 0.9), 0.0620779319em 0.0263413326em 7px hsla(99.7673724106, 100%, 50%, 0.9), 2.1244377055em 1.2193153068em 7px hsla(154.5483739246, 100%, 50%, 0.9), -0.4605797584em -0.1839297578em 7px hsla(317.4911915394, 100%, 50%, 0.9), 0.8669218639em 2.1878775734em 7px hsla(203.6354972973, 100%, 50%, 0.9), -0.0054105376em 0.4007290464em 7px hsla(46.0183499915, 100%, 50%, 0.9), 2.1297344733em 2.4644722587em 7px hsla(237.7988452061, 100%, 50%, 0.9), 1.8034569864em 1.1965236626em 7px hsla(68.8034417088, 100%, 50%, 0.9), 0.8124323411em 0.6697768813em 7px hsla(298.0697944287, 100%, 50%, 0.9), -0.4990767163em 0.0730675054em 7px hsla(210.1686135259, 100%, 50%, 0.9), 0.1573402698em 0.2551830743em 7px hsla(326.5035251261, 100%, 50%, 0.9), 0.1211851649em 0.6674088519em 7px hsla(47.2583541118, 100%, 50%, 0.9), 1.9978062834em 2.0200502179em 7px hsla(22.5090152709, 100%, 50%, 0.9), 2.4377721218em 0.8002675235em 7px hsla(310.6678798453, 100%, 50%, 0.9), 2.4891636256em 0.4235655403em 7px hsla(99.2535338091, 100%, 50%, 0.9), 0.7241563948em 0.6143489284em 7px hsla(348.7486589993, 100%, 50%, 0.9), -0.1507854315em 1.9949512167em 7px hsla(257.8734752659, 100%, 50%, 0.9), 1.6044421719em 2.0097482766em 7px hsla(132.5885968598, 100%, 50%, 0.9), 1.447546666em 0.5476903782em 7px hsla(339.9090124278, 100%, 50%, 0.9), 0.6283827246em -0.4879938723em 7px hsla(216.333888721, 100%, 50%, 0.9), 1.9229353677em -0.0196998717em 7px hsla(259.2724672235, 100%, 50%, 0.9), -0.0609106861em -0.3658210323em 7px hsla(333.2124464722, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
a {
  color: #17e7a4;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #17e7a4;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #17e7a4;
}

::-moz-selection {
  color: #fff;
  background: #17e7a4;
}

::selection {
  color: #fff;
  background: #17e7a4;
}

#fh5co-main {
  max-width: 760px;
  min-height: 600px;
  margin: 5em auto 5em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  border-radius: 7px;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-main {
    margin: 2em 0.5em 5em 0.5em;
  }
}

.fh5co-tab-wrap {
  position: relative;
}
.fh5co-tab-wrap .fh5co-tab-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  top: -0.5em;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu {
    top: -7px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
}
.fh5co-tab-wrap .fh5co-tab-menu li a {
  padding: 2em 1em 1em 1em;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .icon {
  display: block;
  position: relative;
  font-size: 22px;
  bottom: 0;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
  display: block;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a {
    padding: 1em 0.5em 0.5em 0.5em;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:after {
  position: absolute;
  content: "";
  height: 0;
  background: #17e7a4;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 7px;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
    bottom: 0px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
    bottom: 0px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li.active > a {
  color: #fff;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active > a:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-content {
  padding-left: 4em;
  padding-right: 4em;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
.fh5co-tab-wrap .fh5co-tab-content.active {
  opacity: 1;
  visibility: visible;
}
.fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
  padding: 7em 2em 5em 2em;
  float: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
    padding: 4em 0.5em 5em 0.5em;
  }
}

figure {
  margin-bottom: 1.5em;
}

.fh5co-counter .fh5co-number {
  font-size: 100px;
  color: #17e7a4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 0.7;
}
.fh5co-counter .fh5co-number.fh5co-left {
  float: left;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-number.fh5co-left {
    width: 100%;
    line-height: 1.2;
  }
}
.fh5co-counter .fh5co-text {
  float: right;
  text-align: left;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-text {
    width: 100%;
    text-align: center;
  }
}
.fh5co-counter .fh5co-text h3 {
  margin: 0;
  padding: 0;
  position: relative;
}
.fh5co-counter .fh5co-text h3.border-bottom:after {
  content: "";
  width: 50px;
}

.fh5co-social {
  padding: 0;
  margin: 0;
  text-align: center;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  font-size: 22px;
  color: #fff;
  padding: 10px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    padding: 10px 8px;
  }
}
.fh5co-social li a:hover {
  color: #17e7a4;
}
.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

.fh5co-feature {
  text-align: left;
  width: 100%;
  float: left;
}
.fh5co-feature .fh5co-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.fh5co-feature .fh5co-icon i {
  color: #17e7a4;
  font-size: 40px;
}
.fh5co-feature .fh5co-text {
  float: right;
  width: 82%;
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature .fh5co-text {
    width: 72%;
  }
}
.fh5co-feature .fh5co-text h2,
.fh5co-feature .fh5co-text h3 {
  margin: 0;
  padding: 0;
}
.fh5co-feature .fh5co-text h3 {
  font-weight: 300;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
.fh5co-feature .fh5co-text h2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#fh5co-footer {
  margin-top: 50px;
  background: rgb(0, 0, 0);
  clear: both;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  line-height: 1.2;
}
#fh5co-footer small {
  font-size: 14px;
}
#fh5co-footer .fh5co-author {
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-author {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}/*# sourceMappingURL=style.css.map */