@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  display: block;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: transparent;
  background: #123;
  height: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
  }
}

p {
  color: rgba(255, 255, 255, 0.7);
}

head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 42s -30s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.7730672261em 0.6277875044em 7px hsla(128.479235936, 100%, 50%, 0.9), 0.8139124528em 0.6119614235em 7px hsla(61.509376513, 100%, 50%, 0.9), 0.2896016937em 0.2610365673em 7px hsla(157.9552672008, 100%, 50%, 0.9), 2.4482015543em 1.606186925em 7px hsla(325.7126030742, 100%, 50%, 0.9), 2.2470148148em 0.3950834781em 7px hsla(102.5707128407, 100%, 50%, 0.9), 0.8331499748em 2.6156766422em 7px hsla(109.4495158493, 100%, 50%, 0.9), 1.6771903457em 1.7919596501em 7px hsla(358.1588850082, 100%, 50%, 0.9), 1.6161474954em 0.6355974396em 7px hsla(190.3522204762, 100%, 50%, 0.9), 0.4023837716em 1.686559141em 7px hsla(339.9208270795, 100%, 50%, 0.9), 2.9772464638em 0.9927235921em 7px hsla(58.962872587, 100%, 50%, 0.9), 0.9029846867em 0.5789431336em 7px hsla(107.7842984943, 100%, 50%, 0.9), 1.1961887271em 0.575808802em 7px hsla(105.8347797402, 100%, 50%, 0.9), 0.481208441em 1.5794126604em 7px hsla(37.0651120317, 100%, 50%, 0.9), 1.6067655387em 0.1335978249em 7px hsla(110.8211431342, 100%, 50%, 0.9), 1.4820772053em 2.9266128964em 7px hsla(325.0217790908, 100%, 50%, 0.9), 1.2304964544em 0.6366121962em 7px hsla(146.3654944577, 100%, 50%, 0.9), 2.3078855053em 2.8930372068em 7px hsla(216.8970532841, 100%, 50%, 0.9), 1.6017186255em 1.24927013em 7px hsla(277.2611111406, 100%, 50%, 0.9), 2.6897332513em 2.4682996078em 7px hsla(311.4326583747, 100%, 50%, 0.9), 0.2512175218em 2.09640687em 7px hsla(57.1196605219, 100%, 50%, 0.9), 2.6804535968em 0.8594786601em 7px hsla(238.933926302, 100%, 50%, 0.9), 2.4678623185em 0.1311587472em 7px hsla(31.7013420274, 100%, 50%, 0.9), 2.2361518043em 1.8975398676em 7px hsla(115.9630666609, 100%, 50%, 0.9), 2.643725778em 1.5383957112em 7px hsla(310.9583508967, 100%, 50%, 0.9), 1.2180140822em 0.194643497em 7px hsla(9.9537608708, 100%, 50%, 0.9), 2.560615826em 0.3627729761em 7px hsla(96.9577575618, 100%, 50%, 0.9), 0.8894555818em 0.2271978061em 7px hsla(92.8305080962, 100%, 50%, 0.9), 1.4141250217em 1.7793040315em 7px hsla(209.0764539402, 100%, 50%, 0.9), 0.9559354748em 0.8031365299em 7px hsla(328.1724780521, 100%, 50%, 0.9), 2.3810446509em 1.5034831645em 7px hsla(323.4710030358, 100%, 50%, 0.9), 0.5141105544em 1.3357221132em 7px hsla(273.61362633, 100%, 50%, 0.9), 1.4403779938em 2.1816909346em 7px hsla(9.8061893894, 100%, 50%, 0.9), 2.1894800747em 1.2725636299em 7px hsla(258.7147399707, 100%, 50%, 0.9), 2.4912497028em 2.1663032263em 7px hsla(154.014845193, 100%, 50%, 0.9), 0.4317208326em 0.1175266253em 7px hsla(295.9469598855, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 42s;
  animation-delay: -30s;
}

body::after {
  text-shadow: 1.7248658231em 0.1292770428em 7px hsla(311.9610903672, 100%, 50%, 0.9), 2.1476402454em 0.1652256463em 7px hsla(104.2696502708, 100%, 50%, 0.9), 2.1976929899em 0.6395894688em 7px hsla(296.862188843, 100%, 50%, 0.9), 1.3048898729em 1.1140937405em 7px hsla(319.5851107571, 100%, 50%, 0.9), 0.5392200607em 2.9881189592em 7px hsla(316.1690220523, 100%, 50%, 0.9), 1.3421782581em 0.4767679204em 7px hsla(120.4280545496, 100%, 50%, 0.9), 2.2440597151em 0.0333598517em 7px hsla(261.2051016997, 100%, 50%, 0.9), 2.9034681199em 0.8539545629em 7px hsla(98.1573906789, 100%, 50%, 0.9), 0.3687333126em 0.2353274729em 7px hsla(137.921050581, 100%, 50%, 0.9), 1.5189031245em 1.1285703831em 7px hsla(243.9307436697, 100%, 50%, 0.9), 0.6381153994em 1.9904859777em 7px hsla(175.9573267181, 100%, 50%, 0.9), 0.4762777039em 0.8907691597em 7px hsla(309.9672627299, 100%, 50%, 0.9), 0.0453216709em 2.5179486287em 7px hsla(335.1552023253, 100%, 50%, 0.9), 0.5507562474em 1.4505682225em 7px hsla(1.673970004, 100%, 50%, 0.9), 2.2888658256em 0.0913999458em 7px hsla(230.6300372914, 100%, 50%, 0.9), 1.351958447em 2.6624422806em 7px hsla(125.0748732227, 100%, 50%, 0.9), 2.2565808827em 0.9145059005em 7px hsla(72.212179543, 100%, 50%, 0.9), 2.594058618em 2.1690957571em 7px hsla(158.959382767, 100%, 50%, 0.9), 1.4992213435em 2.8324005595em 7px hsla(184.4092963907, 100%, 50%, 0.9), 1.5320369976em 1.7867340808em 7px hsla(303.3437119665, 100%, 50%, 0.9), 2.9164827044em 2.4106753658em 7px hsla(336.1659702201, 100%, 50%, 0.9), 1.5719013129em 1.6762089368em 7px hsla(328.0377621183, 100%, 50%, 0.9), 2.8282519305em 1.879590769em 7px hsla(141.3743109131, 100%, 50%, 0.9), 2.9600566223em 2.7490344456em 7px hsla(289.6235071807, 100%, 50%, 0.9), 1.7162506726em 0.4902217849em 7px hsla(279.3415756003, 100%, 50%, 0.9), 0.4827875284em 1.2453863106em 7px hsla(302.632080137, 100%, 50%, 0.9), 0.3776137642em 2.8726776869em 7px hsla(171.6835077012, 100%, 50%, 0.9), 2.6757328818em 2.4184485601em 7px hsla(193.4221017273, 100%, 50%, 0.9), 0.3408409433em 2.5587971119em 7px hsla(261.0215304304, 100%, 50%, 0.9), 0.8126761261em 1.1168842216em 7px hsla(249.4032384034, 100%, 50%, 0.9), 1.3382476365em 0.677465193em 7px hsla(101.5167624174, 100%, 50%, 0.9), 1.8302485689em 1.160299557em 7px hsla(50.0034082264, 100%, 50%, 0.9), 0.9995255775em 0.5230047774em 7px hsla(136.5037578493, 100%, 50%, 0.9), 2.4253193782em 0.2173786425em 7px hsla(283.2206168691, 100%, 50%, 0.9), 1.4097510054em 2.3319191223em 7px hsla(262.378707627, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 41s;
  animation-delay: -35s;
}

head::before {
  text-shadow: 0.3589222434em 0.7848166958em 7px hsla(83.6333972242, 100%, 50%, 0.9), 0.740377048em 0.3381514892em 7px hsla(325.1363368868, 100%, 50%, 0.9), 1.4832767921em 1.0009999752em 7px hsla(95.629009898, 100%, 50%, 0.9), 0.3822012646em 1.0247462521em 7px hsla(80.3826845615, 100%, 50%, 0.9), 2.8734957959em 0.8546295831em 7px hsla(150.3801658919, 100%, 50%, 0.9), 1.4189841828em 2.7260563309em 7px hsla(75.014847729, 100%, 50%, 0.9), 1.9281576182em 2.2232981349em 7px hsla(156.0848007781, 100%, 50%, 0.9), 1.9265836949em 1.9834046567em 7px hsla(117.9864422373, 100%, 50%, 0.9), 1.4067630209em 1.0805180555em 7px hsla(251.6452183806, 100%, 50%, 0.9), 2.9369545267em 0.9303563932em 7px hsla(129.3366306677, 100%, 50%, 0.9), 2.4980438077em 1.1262259243em 7px hsla(26.7328970093, 100%, 50%, 0.9), 0.9037378701em 2.6003041919em 7px hsla(51.9471661067, 100%, 50%, 0.9), 2.2461044585em 0.5355937652em 7px hsla(117.452849419, 100%, 50%, 0.9), 2.5624464665em 2.8456998411em 7px hsla(110.0290803671, 100%, 50%, 0.9), 0.4253077255em 0.0538449645em 7px hsla(334.2751179746, 100%, 50%, 0.9), 1.5178804668em 2.0842691184em 7px hsla(236.5530078808, 100%, 50%, 0.9), 0.0276579052em 2.5867754689em 7px hsla(167.4986170582, 100%, 50%, 0.9), 2.861521616em 2.9222472232em 7px hsla(258.1159571366, 100%, 50%, 0.9), 0.3400047996em 0.2328342404em 7px hsla(6.8163745512, 100%, 50%, 0.9), 1.4239756221em 2.5426461332em 7px hsla(359.4168976828, 100%, 50%, 0.9), 1.1828342427em 1.0946752216em 7px hsla(263.4720401798, 100%, 50%, 0.9), 1.5898212366em 0.3062274998em 7px hsla(33.0174154506, 100%, 50%, 0.9), 1.530659638em 1.0399939306em 7px hsla(264.9847583609, 100%, 50%, 0.9), 0.8326065445em 0.2381286386em 7px hsla(240.727099106, 100%, 50%, 0.9), 2.6845769953em 0.662884878em 7px hsla(340.3641780455, 100%, 50%, 0.9), 2.3883830328em 0.2515308289em 7px hsla(348.8830440432, 100%, 50%, 0.9), 0.8206349622em 2.9886403993em 7px hsla(109.7251352523, 100%, 50%, 0.9), 0.5979936747em 0.7835702596em 7px hsla(236.2064768225, 100%, 50%, 0.9), 1.1435478395em 2.0039239266em 7px hsla(128.5434967636, 100%, 50%, 0.9), 0.3252492859em 2.451381529em 7px hsla(273.082868156, 100%, 50%, 0.9), 1.1487276942em 0.7562427084em 7px hsla(280.9930184548, 100%, 50%, 0.9), 1.9113075048em 0.1225931999em 7px hsla(236.9069053582, 100%, 50%, 0.9), 0.2735297829em 1.9904820048em 7px hsla(22.7060658469, 100%, 50%, 0.9), 2.9208137702em 2.6967634172em 7px hsla(90.4821269803, 100%, 50%, 0.9), 2.33311929em 2.6766126349em 7px hsla(186.5751738613, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 41s;
  animation-delay: -25s;
}

head::after {
  text-shadow: 2.9883602854em 1.9762409035em 7px hsla(242.0948974762, 100%, 50%, 0.9), 0.5428727272em 1.5399549022em 7px hsla(161.4217275292, 100%, 50%, 0.9), 0.8612647255em 0.6063737982em 7px hsla(118.0404636766, 100%, 50%, 0.9), 0.0700497856em 1.2116218304em 7px hsla(123.3239024609, 100%, 50%, 0.9), 0.2692920503em 0.9202015621em 7px hsla(73.666223531, 100%, 50%, 0.9), 1.9371832892em 0.4704338576em 7px hsla(112.4603788394, 100%, 50%, 0.9), 2.4064552782em 0.5075228204em 7px hsla(29.5173861513, 100%, 50%, 0.9), 0.9999648634em 0.56196407em 7px hsla(146.8669112275, 100%, 50%, 0.9), 0.6889709793em 1.7625767358em 7px hsla(6.2654969008, 100%, 50%, 0.9), 0.5107293337em 1.487241739em 7px hsla(261.1278501748, 100%, 50%, 0.9), 1.6460567571em 2.694223814em 7px hsla(301.3417947025, 100%, 50%, 0.9), 0.4509147711em 0.5531032817em 7px hsla(259.9483978407, 100%, 50%, 0.9), 0.7066532387em 1.7476258525em 7px hsla(77.5655630306, 100%, 50%, 0.9), 0.5622995691em 1.6615836319em 7px hsla(339.4161411914, 100%, 50%, 0.9), 1.669830304em 0.4153802493em 7px hsla(284.0901118401, 100%, 50%, 0.9), 1.8830706912em 0.9028437693em 7px hsla(355.9858302329, 100%, 50%, 0.9), 0.0117658468em 1.6068457811em 7px hsla(319.3376005326, 100%, 50%, 0.9), 1.6786340101em 1.3550781452em 7px hsla(24.2981069668, 100%, 50%, 0.9), 1.5963921252em 1.0623588914em 7px hsla(121.4494164823, 100%, 50%, 0.9), 0.6825593283em 0.4710328341em 7px hsla(247.6775250521, 100%, 50%, 0.9), 2.3166469453em 2.8640407947em 7px hsla(329.9041924984, 100%, 50%, 0.9), 0.4253787622em 1.7702344719em 7px hsla(101.9596045062, 100%, 50%, 0.9), 0.6677952662em 2.682171314em 7px hsla(110.7749994405, 100%, 50%, 0.9), 1.210716177em 2.620558248em 7px hsla(203.2297392674, 100%, 50%, 0.9), 1.6804732389em 0.8839238871em 7px hsla(294.0558993367, 100%, 50%, 0.9), 2.6309339334em 0.8510643742em 7px hsla(226.8265215291, 100%, 50%, 0.9), 1.8324206326em 0.3358658633em 7px hsla(41.3758041978, 100%, 50%, 0.9), 1.6186432408em 0.4702573111em 7px hsla(126.7660890693, 100%, 50%, 0.9), 2.2057438394em 2.819706233em 7px hsla(88.3571768917, 100%, 50%, 0.9), 1.9710482599em 0.7763006084em 7px hsla(325.8547519772, 100%, 50%, 0.9), 1.7306260627em 0.7545290726em 7px hsla(351.6432307628, 100%, 50%, 0.9), 2.0887713549em 1.3341337059em 7px hsla(225.0243926593, 100%, 50%, 0.9), 0.114799563em 0.5997553843em 7px hsla(184.6398664825, 100%, 50%, 0.9), 2.2699804704em 0.0206624017em 7px hsla(116.5801150933, 100%, 50%, 0.9), 0.8222666081em 0.0150236192em 7px hsla(23.9308549765, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 40s;
  animation-delay: -22s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px) translateZ(0);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px) translateZ(0);
  }
}
a {
  color: #17e7a4;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #17e7a4;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #17e7a4;
}

::-moz-selection {
  color: #fff;
  background: #17e7a4;
}

::selection {
  color: #fff;
  background: #17e7a4;
}

#fh5co-main {
  max-width: 760px;
  min-height: 600px;
  margin: 5em auto 5em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  border-radius: 7px;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-main {
    margin: 2em 0.5em 5em 0.5em;
  }
}

.fh5co-tab-wrap {
  position: relative;
}
.fh5co-tab-wrap .fh5co-tab-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  top: -0.5em;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu {
    top: -7px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
}
.fh5co-tab-wrap .fh5co-tab-menu li a {
  padding: 2em 1em 1em 1em;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .icon {
  display: block;
  position: relative;
  font-size: 22px;
  bottom: 0;
  transition: 0.3s;
}
.fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
  display: block;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a .menu-text {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a {
    padding: 1em 0.5em 0.5em 0.5em;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:after {
  position: absolute;
  content: "";
  height: 0;
  background: #17e7a4;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 7px;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li a:hover .icon {
    bottom: 0px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li a:hover:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-menu li.active .icon {
    bottom: 0px;
  }
}
.fh5co-tab-wrap .fh5co-tab-menu li.active > a {
  color: #fff;
  text-decoration: none;
}
.fh5co-tab-wrap .fh5co-tab-menu li.active > a:after {
  height: 100%;
}
.fh5co-tab-wrap .fh5co-tab-content {
  padding-left: 4em;
  padding-right: 4em;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
.fh5co-tab-wrap .fh5co-tab-content.active {
  opacity: 1;
  visibility: visible;
}
.fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
  padding: 7em 2em 5em 2em;
  float: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
    padding: 4em 0.5em 5em 0.5em;
  }
}

figure {
  margin-bottom: 1.5em;
}

.fh5co-counter .fh5co-number {
  font-size: 100px;
  color: #17e7a4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 0.7;
}
.fh5co-counter .fh5co-number.fh5co-left {
  float: left;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-number.fh5co-left {
    width: 100%;
    line-height: 1.2;
  }
}
.fh5co-counter .fh5co-text {
  float: right;
  text-align: left;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .fh5co-counter .fh5co-text {
    width: 100%;
    text-align: center;
  }
}
.fh5co-counter .fh5co-text h3 {
  margin: 0;
  padding: 0;
  position: relative;
}
.fh5co-counter .fh5co-text h3.border-bottom:after {
  content: "";
  width: 50px;
}

.fh5co-social {
  padding: 0;
  margin: 0;
  text-align: center;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  font-size: 22px;
  color: #fff;
  padding: 10px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    padding: 10px 8px;
  }
}
.fh5co-social li a:hover {
  color: #17e7a4;
}
.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
  outline: none;
  text-decoration: none;
}

.fh5co-feature {
  text-align: left;
  width: 100%;
  float: left;
}
.fh5co-feature .fh5co-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.fh5co-feature .fh5co-icon i {
  color: #17e7a4;
  font-size: 40px;
}
.fh5co-feature .fh5co-text {
  float: right;
  width: 82%;
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature .fh5co-text {
    width: 72%;
  }
}
.fh5co-feature .fh5co-text h2,
.fh5co-feature .fh5co-text h3 {
  margin: 0;
  padding: 0;
}
.fh5co-feature .fh5co-text h3 {
  font-weight: 300;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
.fh5co-feature .fh5co-text h2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#fh5co-footer {
  margin-top: 50px;
  background: rgb(0, 0, 0);
  clear: both;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  line-height: 1.2;
}
#fh5co-footer small {
  font-size: 14px;
}
#fh5co-footer .fh5co-author {
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-author {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}/*# sourceMappingURL=style.css.map */